@import "tailwindcss";

@theme {
  --breakpoint-md: 64rem;
  --breakpoint-lg: 96rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  interpolate-size: allow-keywords;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.input-class {
  @apply w-full rounded-xl border-2 border-solid p-2 focus:ring focus:outline-none focus:ring-inset sm:w-[300px];
}

.basic-button-class {
  @apply w-full cursor-pointer rounded-2xl border-2 border-solid border-indigo-700 bg-indigo-700 py-3 font-semibold text-white transition-colors select-none sm:hover:bg-white sm:hover:text-indigo-700;
}

.basic-button-reverse-class {
  @apply w-full cursor-pointer rounded-2xl border-2 border-solid border-indigo-700 bg-white py-3 font-semibold text-indigo-700 transition-colors select-none sm:hover:bg-indigo-700 sm:hover:text-white;
}
